.screen-header {
  display: flex;
  justify-content: space-between;
  padding: var(--horizontal-space);
  margin-bottom: 15px;
}

.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}

.screen-header__icons span {
  margin-left: var(--horizontal-space);
  position: relative;
}

.screen-header__icons .nav_notification-noText {
  left: 20px;
  bottom: 20px;
}

@keyframes retateCog {
  form {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}

.screen-header__icons .fa-cog:hover {
  animation: retateCog 1s linear inherit;
}